﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PrimeNumber.aspx.cs" Inherits="BonusApplication.PrimeNumber" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label runat="server" ID="label1" Text="Enter Integer"></asp:Label>
            <asp:Textbox  runat="server" ID="textBox"></asp:Textbox>
            <asp:RequiredFieldValidator runat="server" ID="RequiredFieldValidator" ControlToValidate="textBox" 
                Display="Static" ErrorMessage="Please Enter the valueof X"></asp:RequiredFieldValidator>
            <asp:RegularExpressionValidator runat="server" ID="RegularExpressionnValidator" ControlToValidate="textBox"
                ErrorMessage="Only numbers are allowed" ValidationExpression="^[+-]?([0-9]*\.?[0-9]+[0-9]*)([eE][+-]?[0-9]+)?$"></asp:RegularExpressionValidator>
            </div>
            <div>
                <asp:Button runat="server" ID="submit" Text="Check if prime" OnClick="CheckIfPrime"/>
                <asp:Button runat="server" ID="clear" Text="Clear Values" OnClick="ClearValues"/>
            </div>
            <div>
                <asp:Label runat="server" ID="output" Text=""></asp:Label>
            </div>
    </form>
</body>
</html>
